<!DOCTYPE html>
<html lang="en">

{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Mazer Admin Dashboard</title>
    <script src="http://code.jquery.com/jquery-1.7.js"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/iconly/bold.css' %}">

    <link rel="stylesheet" href="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendors/bootstrap-icons/bootstrap-icons.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/app.css' %}">
    <link rel="shortcut icon" href="{% static 'assets/images/favicon.svg' %}" type="image/x-icon">
</head>

<body>
    <div id="app">
        <div id="sidebar" class="active">
            <div class="sidebar-wrapper active">
                <div class="sidebar-header">
                    <div class="d-flex justify-content-between">
                        <div class="logo">
                            <a href="index"><img src="{% static 'assets/images/logo/logo.png' %}" alt="Logo" srcset=""></a>
                        </div>
                        <div class="toggler">
                            <a href="#" class="sidebar-hide d-xl-none d-block"><i class="bi bi-x bi-middle"></i></a>
                        </div>
                    </div>
                </div>
                <div class="sidebar-menu">
                    <ul class="menu">

                        <li class="sidebar-item active ">
                            <a href="index" class='sidebar-link'>
                                <i class="bi bi-award-fill"></i>
                                <span>Main</span>
                            </a>
                        </li>

                        <li class="sidebar-title">Menu</li>



                        <li class="sidebar-item">
                            <a href="information" class='sidebar-link'>
                                <i class="bi bi-info-square"></i>
                                <span>information</span>
                            </a>
                        </li>


                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Title1</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="info">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="social">Social</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="health">Health</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="gdp">Gdp</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="etc">Etc</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="summary">Summary</a>
                                </li>
                                </ul>
                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-stack"></i>
                                <span>Title2</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="info2">Info</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="covid19">Covid-19</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="militarypower">Military power</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="illiteracyrate">Illiteracy rate</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="summary2">Summary</a>
                                </li>
                                </ul>

                        <li class="sidebar-title">Login</li>

                        <li class="sidebar-item  has-sub">
                            <a href="#" class='sidebar-link'>
                                <i class="bi bi-person-badge-fill"></i>
                                <span>Authentication</span>
                            </a>
                            <ul class="submenu ">
                                <li class="submenu-item ">
                                    <a href="authlogin">Login</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="authregister">Register</a>
                                </li>
                                <li class="submenu-item ">
                                    <a href="authforgotpassword">Forgot Password</a>
                                </li>
                            </ul>
                        </li>

                        <li class="sidebar-title">Developer</li>
                        <li class="sidebar-item">
                            <a href="test" class='sidebar-link'>
                                <i class="bi bi-book-fill"></i>
                                <span>Test</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a href="https://technext.github.io/mazer/index.html" class='sidebar-link'>
                                <i class="bi bi-journal"></i>
                                <span>Mazer</span>
                            </a>
                        </li>

                    </ul>
                </div>
                <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
            </div>
        </div>
        <div id="main">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
<!--==================================================================-->
            <div class="page-heading">
                <div class="page-title">
                    <div class="row">
                        <div class="col-12 col-md-6 order-md-1 order-last">
                            <h3>Information</h3>
                            <p class="text-subtitle text-muted">sub title</p>
                        </div>
                        <div class="col-12 col-md-6 order-md-2 order-first">
                            <nav aria-label="breadcrumb" class="breadcrumb-header float-start float-lg-end">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index">Main</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Information</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
                <!-- Basic card section start -->
                <section id="content-types">
                    <div class="row">



                    </div>
                </section>
                <!-- Basic Card types section end -->


                <!-- Groups section start -->
                <section id="groups">
<!--                   Nav start-->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="card-title">Horizontal Navs</h5>
                                </div>
                                <div class="card-body">
                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link active" id="home-tab" data-bs-toggle="tab" href="#home"
                                                role="tab" aria-controls="home" aria-selected="true">Home</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="profile-tab" data-bs-toggle="tab" href="#profile"
                                                role="tab" aria-controls="profile" aria-selected="false">Profile</a>
                                        </li>
                                        <li class="nav-item" role="presentation">
                                            <a class="nav-link" id="contact-tab" data-bs-toggle="tab" href="#contact"
                                                role="tab" aria-controls="contact" aria-selected="false">Contact</a>
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="myTabContent">
                                        <div class="tab-pane fade show active" id="home" role="tabpanel"
                                            aria-labelledby="home-tab">
                                            <p class='my-2'>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                Nulla ut nulla
                                                neque. Ut hendrerit nulla a euismod pretium.
                                                Fusce venenatis sagittis ex efficitur suscipit. In tempor mattis
                                                fringilla. Sed id
                                                tincidunt orci, et volutpat ligula.
                                                Aliquam sollicitudin sagittis ex, a rhoncus nisl feugiat quis. Lorem
                                                ipsum dolor sit
                                                amet, consectetur adipiscing elit.
                                                Nunc ultricies ligula a tempor vulputate. Suspendisse pretium mollis
                                                ultrices.</p>
                                        </div>
                                        <div class="tab-pane fade" id="profile" role="tabpanel"
                                            aria-labelledby="profile-tab">
                                            Integer interdum diam eleifend metus lacinia, quis gravida eros mollis.
                                            Fusce non sapien
                                            sit amet magna dapibus
                                            ultrices. Morbi tincidunt magna ex, eget faucibus sapien bibendum non. Duis
                                            a mauris ex.
                                            Ut finibus risus sed massa
                                            mattis porta. Aliquam sagittis massa et purus efficitur ultricies. Integer
                                            pretium dolor
                                            at sapien laoreet ultricies.
                                            Fusce congue et lorem id convallis. Nulla volutpat tellus nec molestie
                                            finibus. In nec
                                            odio tincidunt eros finibus
                                            ullamcorper. Ut sodales, dui nec posuere finibus, nisl sem aliquam metus, eu
                                            accumsan
                                            lacus felis at odio. Sed lacus
                                            quam, convallis quis condimentum ut, accumsan congue massa. Pellentesque et
                                            quam vel
                                            massa pretium ullamcorper vitae eu
                                            tortor.
                                        </div>
                                        <div class="tab-pane fade" id="contact" role="tabpanel"
                                            aria-labelledby="contact-tab">
                                            <p class="mt-2">Duis ultrices purus non eros fermentum hendrerit. Aenean
                                                ornare interdum
                                                viverra. Sed ut odio velit. Aenean eu diam
                                                dictum nibh rhoncus mattis quis ac risus. Vivamus eu congue ipsum.
                                                Maecenas id
                                                sollicitudin ex. Cras in ex vestibulum,
                                                posuere orci at, sollicitudin purus. Morbi mollis elementum enim, in
                                                cursus sem
                                                placerat ut.</p>
                                        </div>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title">Bottom Image Cap</h4>
                                        <p class="card-text">
                                            Jelly-o sesame snaps cheesecake topping. Cupcake fruitcake macaroon donut
                                            pastry gummies tiramisu chocolate bar muffin. Dessert bonbon caramels
                                            brownie chocolate
                                            bar
                                            chocolate tart dragée.
                                        </p>
                                        <p class="card-text">
                                            Cupcake fruitcake macaroon donut pastry gummies tiramisu chocolate bar
                                            muffin.
                                        </p>
                                        <small class="text-muted">Last updated 3 mins ago</small>
                                    </div>
                                    <img class="card-img-bottom img-fluid" src="{% static 'assets/images/samples/water.jpg' %}"
                                        alt="Card image cap" style="height: 20rem; object-fit: cover;">
                                </div>
                            </div>
                        </div>
                        <div class="card">
                                <div class="card-content">
                                    <div class="card-body">
                                        <h4 class="card-title">Bottom Image Cap</h4>

                                    </div>
                                    <img class="card-img-bottom img-fluid" src="{% static 'assets/images/samples/goal.png' %}"
                                        alt="Card image cap" style="max-width: 100%; height: auto;">
                                </div>
                            </div>
                    </div>

                    <div class="row match-height">
                        <div class="col-12 mt-3 mb-1">
                            <h4 class="section-title text-uppercase">Groups</h4>
                        </div>
                    </div>
                    <div class="row match-height">
                        <div class="col-12">
                            <div class="card-group">
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/1.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">
                                                This card has supporting text below as a natural lead-in to additional
                                                content.</p>
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/2.png' %}"
                                            alt="Card image cap" />
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">
                                                This card has supporting text below as a natural lead-in to additional
                                                content.
                                            </p>
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/3.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">
                                                This card has supporting text below as a natural lead-in to additional
                                                content.
                                            </p>
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-content">
                                        <img class="card-img-top img-fluid" src="{% static 'assets/images/samples/4.png' %}"
                                            alt="Card image cap">
                                        <div class="card-body">
                                            <h4 class="card-title">Card title</h4>
                                            <p class="card-text">
                                                This card has supporting text below as a natural lead-in to additional
                                                content.
                                            </p>
                                            <small class="text-muted">Last updated 3 mins ago</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
<!--==================================================================-->
            <footer>
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Mazer</p>
                    </div>
                    <div class="float-end">
                        <p>Crafted with <span class="text-danger"><i class="bi bi-heart"></i></span> by <a
                                href="http://ahmadsaugi.com">A. Saugi</a></p>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="{% static 'assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'assets/vendors/apexcharts/apexcharts.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <script src="{% static 'assets/js/main.js' %}"></script>
</body>

</html>